TYPEORM_CONNECTION=postgres

TYPEORM_HOST=localhost

TYPEORM_DATABASE=wiser

TYPEORM_USERNAME=postgres

TYPEORM_PASSWORD=docker

TYPEORM_PORT=5432

TYPEORM_ENTITIES=src/**/*.entity.ts

TYPEORM_ENTITIES_DIR=src/database/entities

TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts

TYPEORM_MIGRATIONS_DIR=src/database/migrations

TYPEORM_URL=postgres://postgres:docker@localhost:5432/wiser

URL=http://localhost:3000

PORT=